.App {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: column;

  /* Set the height and width of the parent container */
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  background-color: #000;
  color: #fff;
}

textarea {
  width: 800px;
  height: 200px;
  font-size: 2em;
}

button {
  padding: 20px;
  font-size: 2em;
}

h1 {
  font-size: 14em;
  letter-spacing: 6px;
}

.Player {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  user-select: none;
}

.Preview {
  font-size: 2em;
}
